.modal-content {
    background-color: #000000;
    opacity: 0.9;
    color: #ffffff;
}

.modal-content .btn-info {
    background: linear-gradient(50deg, #003399, #3399cc);
}

#topNav .img-fullScreen {
    max-height: 100px;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#topNav .img-smallScreen {
    max-height: 100px;
    max-width: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#topNav .socialMedia ul li {
    list-style-type: none;
    display: inline-block;
}

#topNav .socialMedia ul li a .fa-facebook {
    padding: 0 2px;
}

#topNav .socialMedia ul li a .btn-info {
    text-align: center;
    padding: 10px 14px;
    border-radius: 50%;
    color: #ffffff;
    transition: 0.5s;
    background: linear-gradient(50deg, #003399, #3399cc);
    margin: 25px 0 0 0;
}

#topNav .resisterButton ul {
    float: right;
}

#topNav .resisterButton ul li {
    list-style-type: none;
    display: inline;
}

#topNav .resisterButton ul li .btn-info {
    background: linear-gradient(50deg, #003399, #3399cc);
    color: #ffffff;
    margin-top: 20px;
    padding: 10px 20px;
}

@media screen and (max-width: 600px) {
    #topNav .img-fullScreen {
        display: none;
    }
}

@media screen and (min-width: 600px) {
    #topNav .img-smallScreen {
        display: none;
    }
}

#navberMiddle .navbar-color {
    background: linear-gradient(50deg, #003399, #3399cc);
    color: #ffffff;
    margin: 0 !important;
}

#carousel .carousel-item .d-block {
    max-width: 100% auto !important;
    max-height: 500px auto !important;
}

#carousel .familyImage {
    position: relative;
}

#carousel .familyImage .family-banner-txt-price {
    position: absolute;
    margin-left: 60%;
    margin-top: 2%;
    max-height: 25%;
    max-width: 25%;
}

#carousel .familyImage .bike-price {
    position: absolute;
    margin-left: 50%;
    margin-top: 5%;
    max-height: 40%;
    max-width: 45%;
}

#carousel .carousel-control-prev {
    color: #282828;
}

#carousel .carousel-control-next {
    color: #282828;
}

@media screen and (max-width: 750px) {
    #infoGraphicFull {
        display: none;
    }
}

#infoGraphicFull {
    margin-top: 50px;
    position: relative;
    text-align: center;
}

#infoGraphicFull .container h2 {
    color: #3399cc;
    font-weight: bold;
    transform: translate(0%, -400%);
}

#infoGraphicFull .container .imgGraph {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
}

#infoGraphicFull .container ul {
    padding: 0;
    margin: 0;
}

#infoGraphicFull .container ul li:nth-child(1) {
    transform: translate(-10%, -150%);
}

#infoGraphicFull .container ul li:nth-child(2) {
    transform: translate(-10%, -55%);
}

#infoGraphicFull .container ul li:nth-child(3) {
    transform: translate(0%, -45%);
}

#infoGraphicFull .container ul li:nth-child(4) {
    transform: translate(20%, -70%);
}

#infoGraphicFull .container ul li:nth-child(5) {
    transform: translate(20%, -110%);
}

#infoGraphicFull .container ul li {
    list-style-type: none;
    display: inline-block;
}

#infoGraphicFull .container ul li p {
    font-size: 13px;
    line-height: 1.35;
    font-weight: 400;
    letter-spacing: 0.35px;
    margin-bottom: 1.8rem;
    box-sizing: border-box;
}

#infoGraphicFull .container ul li .img-info {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background: #ededeb;
    position: relative;
    margin: 0 auto;
}

#infoGraphicFull .container ul li .img-info img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
}

@media screen and (min-width: 750px) {
    #infoGraphicSmall {
        display: none;
    }
}

#infoGraphicSmall {
    margin-top: 25px;
}

#infoGraphicSmall .container h2 {
    text-align: center;
    color: #3399cc;
    font-weight: bold;
    margin: 0 20px;
}

#infoGraphicSmall .container ul {
    margin: 0;
    padding: 0;
}

#infoGraphicSmall .container ul li {
    list-style-type: none;
    color: #000000;
    text-align: center;
}

#infoGraphicSmall .container ul li .img-info {
    border-radius: 50%;
    height: 125px;
    width: 125px;
    background: #ededeb;
    position: relative;
    margin: 0 auto;
}

#infoGraphicSmall .container ul li .img-info img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
}

#brandSlider h1 {
    text-align: center;
    color: #3399cc;
    margin-top: 15;
    margin-bottom: 15px;
}

#brandSlider #brand-slider {
    margin-top: 30px;
}


/* Slider */

#brand-slider {
    background-color: #f5f5f5;
    margin: 20px 0;
}

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* company brand logo slider end*/

#offerCard .container .row .col-md-4 {
    box-shadow: 10px solid #000000;
}

#pakagesCard {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

#pakagesCard h1 {
    color: #3399cc;
}

#pakagesCard .container .row .col-md-6 {
    text-align: center;
}

#pakagesCard .container .row .col-md-6 img {
    max-height: 100px;
    max-width: 200px;
}

#pakagesCard .container .row .col-md-6 a {
    text-decoration: none;
    border-radius: 35px !important;
}

#itWork {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

#itWork .container .row img {
    height: 150px;
    width: 125px;
}

#footer .container-fluid {
    background: linear-gradient(10deg, #003399, #003399, #003399, #003399);
    text-align: center;
    padding: 30px 25px 0px 25px;
    color: #ffffff;
}

#footer .container-fluid .callCenter {
    display: inline-block;
}

#footer .container-fluid .callCenter a {
    text-align: justify;
}

#footer .container-fluid .callCenter a img {
    height: 70px;
    width: 75px;
}

#footer .container-fluid .callTime {
    display: inline-block;
    transform: translate(0%, 35%);
}

#footer .container-fluid .callTime strong {
    font-size: 30px;
}

#footer .container-fluid .col-md-4 ul {
    padding: 0;
}

#footer .container-fluid .col-md-4 ul li {
    list-style-type: none;
    display: inline-block;
    margin-top: 10px;
}

#footer .container-fluid .col-md-4 ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 5px;
}

#footer .container-fluid .col-md-4 ul li a img {
    height: 50px;
    width: 50px;
}

#footer .copyRight {
    padding: 10px;
}


/*# sourceMappingURL=style.css.map */